---
interface Props {
	title: string;
	body: string;
	href: string;
	image: {
		url: string;
		alt: string;
	};
}

const { href, title, body, image } = Astro.props;
---

<li class="project-card">
	<a href={href}>
		<img src={image.url} alt={image.alt} />
		<span>
			<h2>
				{title}
			</h2>
			<p>
				{body}
			</p>
		</span>
	</a>
</li>
<style>
	.project-card {
		list-style: none;
	}
	.project-card > a {
		display: flex;
		border: 1px solid lavender;
		background-color: white;
		color: inherit;
		text-decoration: none;
		align-items: center;
		padding: 0.75em;
		border-radius: var(--border-radius);
		box-shadow:
			0px 1px 2px 0px hsla(var(--shadow), 0.14),
			0px 3px 6px 0px hsla(var(--shadow), 0.1);
		margin-bottom: 0.75em;
	}
	img {
		max-width: 75px;
		margin-right: 1em;
	}
	h2 {
		font-size: 1em;
		font-family: var(--font-body);
		font-weight: 700;
		margin: 0;
		color: var(--text-base);
	}
	p {
		margin: 0;
	}
</style>
